<div class="container">

  <div class="btn-wrap" *ngIf="products.length === 0">
    <button mat-raised-button color="primary" class="load-btn" (click)="getProducts()">Load Products</button>
  </div>

  <mat-button-toggle-group *ngIf="products.length > 0"
                           name="display"
                           aria-label="Display"
                           class="toggle-group"
                           #group="matButtonToggleGroup"
                           [value]="cookieDisplayValue"
                           (change)="onDisplayChange(group.value)">
    <mat-button-toggle value="card"><mat-icon color="primary">view_module</mat-icon></mat-button-toggle>
    <mat-button-toggle value="list"><mat-icon color="primary">list</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>

  <div class="products-wrap" [ngClass]="(cookieDisplayValue == 'list') ? 'productsList' : 'productsCards'">

    <mat-spinner *ngIf="loading && products.length === 0"></mat-spinner>

    <mat-card *ngFor="let product of products" class="product-card">
      <mat-card-header class="product-card-header">
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.price}} $/ {{product.quantity}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="product-card-content">
        <p class="product-description">
          {{product.description}}
        </p>
        <div class="product-img-wrap">
          <img class="product-img" src="{{ product.imageUrl }}" />
        </div>
      </mat-card-content>
      <mat-card-actions class="product-card-actions">
        <div class="btn-wrap">
          <button mat-raised-button color="accent" class="delete-btn" (click)="onDeleteProduct(product.id)"> Delete </button>
        </div>
      </mat-card-actions>
    </mat-card>

  </div>

  <div class="btn-wrap" *ngIf="products.length > 0">
    <button mat-raised-button color="primary" class="load-btn" (click)="getNextProducts()">Load more</button>
  </div>
</div>
