.products-wrap {
  display: flex;
  flex-wrap: wrap;

}

.products-wrap .product-card {
  width: calc(25% - 35px);
  margin: 10px;
  padding: 10px;
}

.products-wrap .product-card:nth-child(4n-3) {
  margin-left: 0px;
}
.products-wrap .product-card:nth-child(4n) {
  margin-right: 0px;
}
